/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 canvas.three-test {
 	display: block;
 	width: 300px;
 	height: 300px;
 	border: 1px black solid;
 }